/Library/cache/
/Library/metadata/
/Library/StateCache/
/Library/ShaderCache/
/Library/ScriptAssemblies/
/Library/assetDatabase3
/Library*.json
/Library*.dwlt
/Library/Artifacts/
/Library/BurstCache/
/Library/Temp/
/Library/TempArtifacts/
/Library/UIElements/
/Library/ArtifactDB-lock
/Library/SourceAssetDB
/Library/SourceAssetDB-lock
/Temp/
/obj/
/Packages/
*.csproj
*.sln
*.log
/Logs/
/UIElementsSchema/
/.vs/
/Library/PackageCache/
/.vscode/
/Library/ArtifactDB
/Library/Style.catalog
/Library/CrashedAssetImports.txt
/Library/APIUpdater/
*.dwlt
/Library/EditorInstance.json
*.exe*.log
/Library/InspectorExpandedItems.asset
